@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";

@theme {

    --animate-float: float 6s ease-in-out infinite;
    --animate-spin-slow: spin-slow 10s linear infinite;
    --animate-fade-in-up: fade-in-up 0.5s ease-out backwards;

    @keyframes float {
        0% {
            transform: translateY(0px)
        }

        50% {
            transform: translateY(-20px)
        }

        100% {
            transform: translateY(0px)
        }
    }


    @keyframes spin-slow {
        0% {
            transform: rotate(0deg)
        }

        100% {
            transform: rotate(360deg)
        }


    }

    @keyframes fade-in-up {
        from: {
            opacity: 0;
            transform: translateY(20px);
        }

        to: {
            opacity: 1;
            transform: translateY(0);
        }
    }

}



:root {
    --raw-font-family-WorkSans: 'Work Sans', ui-sans-serif, system-ui;
    --raw-font-family-Poppins: "Poppins", ui-sans-serif, system-ui;

    /* REPLACED HSL VALUES FOR ROOT */
    --raw-color-background: hsl(0 0% 100%);
    --raw-color-foreground: hsl(222.2 84% 4.9%);

    --raw-color-card: hsl(0 0% 100%);
    --raw-color-card-foreground: hsl(222.2 84% 4.9%);

    --raw-color-popover: hsl(0 0% 100%);
    --raw-color-popover-foreground: hsl(222.2 84% 4.9%);

    --raw-color-primary: hsl(291.4285714285714 73.48066298342542% 35.490196078431374%);
    --raw-color-primary-foreground: hsl(272.3076923076923 100% 92.3529411764706%);

    --raw-color-secondary: hsl(0, 0%, 40%);
    --raw-color-secondary-foreground: hsl(222.2 47.4% 11.2%);

    --raw-color-muted: hsl(240 10.638297872340381% 90.7843137254902%);
    --raw-color-muted-foreground: hsl(215.4 16.3% 46.9%);

    --raw-color-accent: hsl(240, 13%, 92%);
    --raw-color-accent-foreground: hsl(222.2 47.4% 11.2%);

    --raw-color-destructive: hsl(291.5853658536585 85.41666666666666% 62.35294117647059%);
    --raw-color-destructive-foreground: hsl(272.3076923076923 100% 92.3529411764706%);

    --raw-color-border: hsl(214.3 31.8% 91.4%);
    --raw-color-input: hsl(214.3 31.8% 91.4%);
    --raw-color-ring: hsl(291.4285714285714 73.48066298342542% 35.490196078431374%);
}

.dark {
    /* REPLACED HSL VALUES FOR DARK */
    --raw-color-background: hsl(222.2 84% 4.9%);
    --raw-color-foreground: hsl(210 40% 98%);

    --raw-color-card: hsl(222.2 84% 4.9%);
    --raw-color-card-foreground: hsl(210 40% 98%);

    --raw-color-popover: hsl(222.2 84% 4.9%);
    --raw-color-popover-foreground: hsl(210 40% 98%);

    --raw-color-primary: hsl(291.4285714285714 73.48066298342542% 35.490196078431374%);
    --raw-color-primary-foreground: hsl(222.2 47.4% 11.2%);

    --raw-color-secondary: hsl(217.2 32.6% 17.5%);
    --raw-color-secondary-foreground: hsl(210 40% 98%);

    --raw-color-muted: hsl(217.2 32.6% 17.5%);
    --raw-color-muted-foreground: hsl(215 24% 89%);

    --raw-color-accent: hsl(217.2 32.6% 17.5%);
    --raw-color-accent-foreground: hsl(210 40% 98%);

    --raw-color-destructive: hsl(291.5853658536585 85.41666666666666% 62.35294117647059%);
    --raw-color-destructive-foreground: hsl(210 40% 98%);

    --raw-color-border: hsl(217.2 32.6% 17.5%);
    --raw-color-input: hsl(217.2 32.6% 17.5%);
    --raw-color-ring: hsl(0 100% 89.21568627450979%);
}


@theme inline {
    --font-family-WorkSans: var(--raw-font-family-WorkSans);
    --font-family-Poppins: var(--raw-font-family-Poppins);

    --color-background: var(--raw-color-background);
    --color-foreground: var(--raw-color-foreground);

    --color-card: var(--raw-color-card);
    --color-card-foreground: var(--raw-color-card-foreground);

    --color-popover: var(--raw-color-popover);
    --color-popover-foreground: var(--raw-color-popover-foreground);

    --color-primary: var(--raw-color-primary);
    --color-primary-foreground: var(--raw-color-primary-foreground);

    --color-secondary: var(--raw-color-secondary);
    --color-secondary-foreground: var(--raw-color-secondary-foreground);

    --color-muted: var(--raw-color-muted);
    --color-muted-foreground: var(--raw-color-muted-foreground);

    --color-accent: var(--raw-color-accent);
    --color-accent-foreground: var(--raw-color-accent-foreground);

    --color-destructive: var(--raw-color-destructive);
    --color-destructive-foreground: var(--raw-color-destructive-foreground);

    --color-border: var(--raw-color-border);
    --color-input: var(--raw-color-input);
    --color-ring: var(--raw-color-ring);

}

body {
    @apply bg-background text-primary font-family-WorkSans p-0 m-0
}

.h1 {
    @apply  font-bold text-3xl 
}
.h2 {
    @apply  font-semibold text-2xl 
}
.h3 {
    @apply  font-semibold text-xl 
}